{
  "useTabs": false,
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "singleAttributePerLine": true,
  "printWidth": 120,
  "proseWrap": "always",
  "bracketSpacing": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/features/(.*)$",
    "^@/app/(.*)$",
    "^@/shared/components/(.*)$",
    "^@/shared/config/(.*)$",
    "^@/shared/constants/(.*)$",
    "^@/shared/hooks/(.*)$",
    "^@/shared/types/(.*)$",
    "^@/shared/utils/(.*)$",
    "^@/shared/api/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
}