.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: var(--rounded-xl);
  font-weight: var(--font-weight-subtitle-2);
  overflow: hidden;
  position: relative;
  transition: background-color 0.2s ease-in-out,
  color 0.2s ease-in-out,
  border-color 0.2s ease-in-out,
  box-shadow 0.2s ease-in-out;
}

.button:disabled {
  opacity: 0.45;
  cursor: default;
}

.button--default {
  --btn-loader-color: var(--color-white);

  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0 8px 24px 0 var(--color-primary-shadow);
}

.button--default:hover:not(:disabled) {
  background-color: color-mix(in srgb, var(--color-primary) 85%, black);
  border-color: color-mix(in srgb, var(--color-primary) 85%, black);
  box-shadow: 0 10px 32px 0 var(--color-primary-shadow);
}

.button--default:active:not(:disabled) {
  box-shadow: 0 4px 12px 0 var(--color-primary-shadow);
}

.button--outline {
  --btn-loader-color: var(--color-primary);

  color: var(--color-primary);
  border-color: var(--color-primary);
  background-color: transparent;
}

.button--icon {
  padding: 0;
  color: var(--color-primary);
  background-color: transparent;
  border-color: transparent;
  aspect-ratio: 1;
  width: var(--btn-icon-size);
  height: var(--btn-icon-size);
}

.button--icon:hover:not(:disabled) {
  background-color: var(--color-primary-shadow);
}

.button--sm {
  padding: var(--spacing-xs) var(--spacing-sm);
  line-height: var(--line-height-body-2);
  --btn-icon-size: var(--icon-sm);
}

.button--md {
  padding: var(--spacing-xs) var(--spacing-md);
  line-height: var(--line-height-body-1);
  --btn-icon-size: var(--icon-md);
}

.button--lg {
  padding: var(--spacing-xs) var(--spacing-lg);
  line-height: var(--line-height-subtitle-1);
  --btn-icon-size: var(--icon-lg);
}

.button--xl {
  padding: var(--spacing-sm) var(--spacing-lg);
  line-height: var(--line-height-h2);
  --btn-icon-size: var(--icon-xl);
}

.button__loader {
  color: var(--btn-loader-color);
}
